:root {
    --primary-bg: #1a202c; /* Cor de fundo principal escura */
    --secondary-bg: #2d3748; /* Cor de fundo secundária escura */
    --text-color: #e2e8f0; /* Cor do texto clara */
    --text-muted: #a0aec0; /* Cor do texto secundário */
    --accent-color: #4299e1; /* Cor de destaque */
    --accent-hover: #3182ce; /* Cor de destaque ao passar o mouse */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background: linear-gradient(to bottom right, var(--primary-bg), var(--secondary-bg));
    min-height: 100vh;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(26, 32, 44, 0.9); /* Fundo do header escuro */
    backdrop-filter: blur(4px);
    z-index: 1000;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: var(--text-muted);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--text-color);
}

main {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background: var(--primary-bg); /* Alterado para usar a variável de cor */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: scroll;
    height: 100vh;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    scroll-snap-align: start;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
    text-align: center;
}

p {
    font-size: 1.125rem;
    color: var(--text-muted);
    margin-bottom: 1.5rem;
    text-align: center;
}

.mermaid {
    max-width: 100%;
    overflow-x: auto;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.cta-button:hover {
    color: var(--accent-hover);
}

.cta-button i {
    margin-left: 0.5rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.skill-card {
    background-color: var(--secondary-bg);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.skill-card i {
    color: var(--accent-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.skill-card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.skill-card p {
    font-size: 0.875rem;
}

.skill-card a:visited {
    color: var(--accent-hover);
}

.experience-content {
    background-color: var(--secondary-bg);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.experience-content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    color: var(--text-muted);
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info {
    background-color: var(--secondary-bg);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.social-links a {
    color: var(--accent-color);
    transition: color 0.3s ease;
}

.tech-box {
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}
.tech-box ul {
    list-style-type: none;
    padding: 0;
}
.tech-box li {
    margin-bottom: 10px;
}


social-links a:hover {
    color: var(--accent-hover);
}

form {
    background-color: var(--secondary-bg);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-muted);
}

input,
textarea {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary-bg);
    border: 1px solid var(--text-muted);
    border-radius: 0.25rem;
    color: var(--text-color);
}

button {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--accent-hover);
}

footer {
    background-color: var(--primary-bg);
    color: var(--text-muted);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 1px solid var(--secondary-bg);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

footer p {
    margin: 0.5rem 0;
    font-size: 0.875rem;
}
.mermaid {
    max-width: 100%;
    overflow-x: auto;
    font-size: 2rem; /* Ajuste o tamanho da fonte conforme necessário */
}
@media (max-width: 768px) {
    header {
        padding: 0.7rem;
        height: 5%; /* Reduzir a altura em 30% */        
    }

    nav ul {
        padding: 0.7rem; /* Reduzir o padding em 30% */
    }

    nav ul li a {
        font-size: 0.6125rem; /* Reduzir o tamanho da fonte em 30% */
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .mermaid {
        font-size: 3rem; /* Ajuste o tamanho da fonte conforme necessário */
    }

    footer {
        padding: 1rem 0;
    }

    footer p {
        font-size: 0.75rem;
    }
}